.home-container{
    padding: 0 2vw 5vh 2vw;
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    height: 80vh;
    justify-content: center;
}
.home-title{
    color: var(--details);
    font-variant: small-caps;
    font-weight: lighter;
    text-shadow: crimson 2px -2px, green -1.5px 1.5px;
}

/*  Slider Stuff  */


.slider-container{
    display: flex;
    color: var(--details);
    padding: 3vh 0 3vh 1vw;
    flex-grow: none;
    width: 85%;
    height: 100%;
    justify-content: center;
    background-color: rgba(250, 250, 250, .1);
}
.text-container{
    margin: 0;
    overflow: hidden;
    padding: 1vh 1vw;
    height: 48vh;
    width: 50vw;
}
.text-title{
    width: 80%;
    height: 10%;
    border-bottom: 1px var(--primary) inset;
    display: flex;
    text-wrap: nowrap;
    align-items: center;
    text-align: left;
    color: var(--primary);
    font-variant: small-caps;
    font-weight: lighter;
    margin: 0;
    padding: 1vh 1vw;
}
.text-desc{
    max-width: 30vw;
    max-height: 30vh;
    text-wrap: wrap;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: lighter;
    margin: 3vh 0 0 5vw;
    font-size: 1vw;
    padding: 1vb;
    color: whitesmoke;    
}

.text-desc::-webkit-scrollbar {
    z-index: 999;
}

.slick-slider{
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 !important;
    padding: 0 !important;
    height: 65vh;
}
.slick-slider img{
    height: max-content;
    width: 50vh;
    object-fit: cover;
    opacity: .9;
    border: 1.5px inset var(--primary);
    border-radius: 6px;

    /*
    mix-blend-mode: multiply; 
    filter: contrast(1.2);
    filter: brightness(1);
    */
} 


/* Arrows */


.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 15px;
    height: 20%;
    
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
   
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    line-height: 1;

    font-size: 20px;
    opacity: .1;
    color: var(--primary);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '◄';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '►';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}


/* Dots */


.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 5%;
    height: 20px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 100%;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-size: 6px;
    line-height: 20px;
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 3px;

    content: '  ';
    text-align: center;

    opacity: .25;
    color: transparent;
    border-bottom: 3px solid var(--details);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    border-bottom: 3px solid var(--primary);
}

