:root {
    --main: rgb(34, 34, 34);
    --mainDeop: rgba(34, 34, 34, 0.6);
    --primary: rgb(255, 192, 203);
    --details: #a1a1a1;
    --detailsDeop: rgba(161, 161, 161, 0.7);
}


/*EDICION DE TITULO DE LOS PRODUCTOS*/


.category-title {
    color: var(--primary);
    font-size: calc(5vh + 10px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
    font-variant: small-caps;
    cursor:default;
    user-select:none;
}
@keyframes fadeIn { /*Animacion del titulo*/
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/*EDICION DE LOS CONTENEDORES GENERALES*/


.product-container{
    display: flex;
    justify-content: center;
}
.category-container {
    padding: 2vh;
    display: flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    margin: 3vh 3vw 2vh 3vw;
    max-width: 90vw;
    gap: 1.5vw;
    justify-content: center;
}


/*EDICION DE LAS CARDS*/


.card-container {
    width: 22.5vw;
    height: 55vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:none;
    justify-items: end;
    flex-direction: column;
    position: relative;
    border-radius: 1%;
    overflow: hidden;
    font-variant: small-caps;
    /* box-shadow: inset 0.5px 0 2px 0.5px #000, inset -0.5px 0 2px -0.5px #000, 0.5px 0 2px 0.5px #FFC0CB, -0.5px 0 2px -0.5px #FFC0CB; */
    border: inset 1px var(--primary);
    box-shadow: 0 0 0 .5px var(--details);
    cursor: pointer;
}
.card-container span {
    color: transparent;
    bottom: 0;
    width: 100%;
    height: 15%;
    font-weight: lighter;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select:none;
}
#card-hover:hover > span {
    background-color: rgba(25, 25, 25, 0.9);
    color: var(--details);
    box-shadow: inset 0 0 5px 1px rgba(255, 192, 203, 0.4);
}
.show-card{
    display:flex;
}


/*EDICION DEL OVERLAY*/


.overlay{
    width:50%;
    height:80%;
    z-index:999;
    position:fixed;
    /* box-shadow: inset 0.5px 0 2px 0.5px #000, inset -0.5px 0 2px -0.5px #000, 0.5px 0 2px 0.5px #FFC0CB, -0.5px 0 2px -0.5px #FFC0CB; */
    border: inset 1px var(--primary);
    box-shadow: 0 0 1px .5px var(--details);
    animation: overlayOpacity 0.3s ease-in;
    border-radius: 1%;
}
.overlay h1{
    font-weight: lighter;
    user-select: none;
    cursor: default;
    font-variant: small-caps;
    border-bottom:solid 1px var(--primary);
    color: var(--details);
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 1%;
}
@keyframes overlayOpacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}